@use '@/styles/colors';

.home-header {
    background: linear-gradient(355deg, #ffffff70 -94.56%, rgba(169, 178, 254, 0.44) 155.3%);
    box-shadow: 0px 0px 93px 0px #16239824;
    backdrop-filter: blur(14.5px);
    padding: 2.25rem 0 2.5rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9;
    .ip-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title-wrapper {
            text-align: center;
            transition: max-height 0.3s ease-in-out;
            max-height: 10rem;
            &.hide {
                max-height: 0;
                overflow: hidden;
            }
            .title {
                color: colors.$light-black;
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 0.375rem;
            }
            .description {
                color: colors.$light-black;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
        }
        .input-wrapper {
            width: 36rem;
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            input {
                width: 100%;
                border: none;
                padding: 0.875rem 3.75rem 0.875rem 1.5rem;
                font-size: 1rem;
            }
            .btn-search,
            .btn-clear {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 3.625rem;
                border-radius: 1rem;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: colors.$black;
            }
        }
    }
    .user-profile {
        position: absolute;
        top: 2.25rem;
        right: 2.5rem;
    }
}
