@use '@/styles/colors';

.app-input {
    display: flex;
    flex-direction: column;
    label {
        color: colors.$text-gray;
        font-size: 0.875rem;
        margin-bottom: 0.375rem;
    }
    input {
        border: 1.5px solid colors.$primary-silver;
        border-radius: 0.625rem;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        &:focus {
            border-color: colors.$primary-blue;
        }
    }
    &:where(.error) {
        label {
            color: colors.$carmine-pink;
        }
        input,
        input:focus {
            border-color: colors.$carmine-pink;
        }
    }
}
