@use '@/styles/colors';

.edit {
    .profile-image {
        margin-bottom: 2.75rem;
        img {
            height: 7rem;
            width: 7rem;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .general {
        .title {
            font-size: 1.125rem;
            font-weight: 600;
            border-bottom: 1.5px solid colors.$secondary-silver;
            padding-bottom: 1rem;
            display: inline-block;
            margin-bottom: 2rem;
        }
        form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }
}
