$primary-blue: #0c41ff;
$secondary-blue: #1877f2;
$light-blue: #669be1;
$violet: #8256ff;
$lavender: #a880d0;
$carmine-pink: #e86969;
$black: #000000;
$white: #fff;
$light-black: #010102;
$dark-silver: #85879f;
$primary-silver: #d2d3e7;
$secondary-silver: #e0e4ee;
$dirty-white: #85879f;
$text-gray: #695c5c;
$button-gray: #cfd2f370;
$light-gray: #fafafd;
$gradient-bg: linear-gradient(129deg, #1877f2 -69.89%, #d18af3 111.98%);
