.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .editable {
        display: flex;
        align-items: center;
        column-gap: 0.625rem;
        .app-button {
            width: 7.75rem;
        }
    }
}
