@use '@/styles/colors';

.header {
    padding: 2.25rem 2.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.fixed {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        background: linear-gradient(355deg, #ffffff70 -94.56%, rgba(169, 178, 254, 0.44) 155.3%);
        box-shadow: 0px 0px 93px 0px #16239824;
        backdrop-filter: blur(14.5px);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 9;
    }
    .page-title {
        color: colors.$light-black;
        font-size: 1.125rem;
        font-weight: 600;
    }
}
